* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("images1.png");
    height: 100%;
    width: 100%;
    background-size: cover;
}

.nav-logo {
    border: 1.5px solid transparent;
}

.nav-logo:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 10px;
}

.add-second {
    color: white;
    margin-left: 8px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-add {
    border: 1.5px solid transparent;
}

.nav-add:hover {
    border: 1.5px solid white;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 720px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 3px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

span {
    font-size: 0.75rem;
}

.nav-second {
    font-size: 0.95rem;
    font-weight: 700;
}

.nav-signin {
    border: 2px solid transparent;
}

.nav-signin:hover {
    border: 2px solid white;
}

.nav-return {
    border: 2px solid transparent;
}

.nav-return:hover {
    border: 2px solid white;
}

.nav-cart svg {
    font-size: 50px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart {
    border: 2px solid transparent;
}

.nav-cart:hover {
    border: 2px solid white;
}

.nav-help {
    font-size: 0.90rem;
    font-weight: 700;
    border: 1.5px solid transparent;
}

.nav-help:hover {
    border: 1.5px solid white;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline-block;
    margin-left: 15px;
    border: 1.5px solid transparent;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.panel-all {
    border: 1.5px solid transparent;
}

.panel-all:hover {
    border: 1.5px solid white;
}

.panel-ops p:hover {
    border: 1.5px solid white;
}

.panel-deals {
    border: 1.5px solid transparent;
}

.panel-deals:hover {
    border: 1.5px solid white;
}

.hero-section {
    background-image: url("hero1.jpg");
    height: 500px;
    background-size: cover;
}


.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.95rem;
}

.hero-msg a {
    color: #007185;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E2E7E6;
}

.box {
    /*border: 2px solid black;*/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1.5px solid transparent;
}

.box:hover {
    border: 1.7px solid black;
}
.box h2 {
    margin-bottom: 1rem;
}

.box-img {
    height: 300px;
    width: 100%;
    background-size: cover;
    margin-bottom: 1rem;
}

.box1 .box-img {
    background-image: url("box1-img.jpg");
}

.box2 .box-img {
    background-image: url("box2-img.jpg");
}
.box3 .box-img {
    background-image: url("box3-img.jpg");
}
.box4 .box-img {
    background-image: url("box4-img.jpg");
}
.box5 .box-img {
    background-image: url("box-img.jpg");
}
.box6 .box-img {
    background-image: url("box5-img.jpg");
}
.box7 .box-img {
    background-image: url("box6-img.jpg");
}
.box8 .box-img {
    background-image: url("box7-img.jpg");
}
.box9 .box-img {
    background-image: url("box-8.jpg");
}
.box10 .box-img {
    background-image: url("box9-img.jpg");
}
footer{
    margin-top:15px;
}
.foot-panel1 {
    background-color:#37475a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 p{
    fomt-weight: 700;
    font-size: 1.05rem;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.95rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("images1.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    width:100px;
}

.foot-panel4{
    background-color: #0f1111;
    color:white;
    height: 80px;
    text-align: center;
}

.pages{
    font-size:0.95rem;
    padding-top: 20px;;
}

.copyright{
    font-size: 0.75rem;
    padding-top: 5px;
}

.developer{
    text-align: right;
    margin-right: 20px;
}




.card {
    width: 210px;
    height: 400px;
    background: black;
    border-radius: 35px;
    border: 2px solid rgb(40, 40, 40);
    padding: 7px;
    position: relative;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.486);
  }
  
  .card-int {
    background-image: linear-gradient(to right bottom, #ff0000, #ff0045, #ff0078, #ea00aa, #b81cd7, #8a3ad6, #5746cf, #004ac2, #003d94, #002e66, #001d3a, #020812);
    background-size: 200% 200%;
    background-position: 0% 0%;
    height: 100%;
    border-radius: 25px;
    transition: all 0.6s ease-out;
    overflow: hidden;
  }
  
  .card:hover .card-int {
    background-position: 100% 100%;
  }
  
  .top {
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translate(50%, 0%);
    width: 35%;
    height: 18px;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .speaker {
    position: absolute;
    top: 2px;
    right: 50%;
    transform: translate(50%, 0%);
    width: 40%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(20, 20, 20);
  }
  
  .camera {
    position: absolute;
    top: 6px;
    right: 84%;
    transform: translate(50%, 0%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.048);
  }
  
  .int {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgba(0, 0, 255, 0.212);
  }
  
  .btn1, .btn2, .btn3, .btn4 {
    position: absolute;
    width: 2px;
  }
  
  .btn1, .btn2, .btn3 {
    height: 45px;
    top: 30%;
    right: -4px;
    background-image: linear-gradient(to right, #111111, #222222, #333333, #464646, #595959);
  }
  
  .btn2, .btn3 {
    transform: scale(-1);
    left: -4px;
  }
  
  .btn2, .btn3 {
    transform: scale(-1);
    height: 30px;
  }
  
  .btn2 {
    top: 26%
  }
  
  .btn3 {
    top: 36%
  }
  
  .hello {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    height: 100%;
    transition: 0.5s ease-in-out;
  }
  
  .hidden {
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in;
    font-size: 1rem;
  }
  
  .card:hover .hidden {
    opacity: 1;
  }
  
  .card:hover .hello {
    transform: translateY(-20px);
  }

  
.mobile{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position:absolute;
    top: 8rem;
    left: 2rem;
}  

